{% extends "base.html" %}
{% block title %}{{ 'Editar' if conta else 'Nova' }} Conta a Pagar - Sistema de Gestão de Contas Domésticas{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2>{{ 'Editar' if conta else 'Nova' }} Conta a Pagar</h2>
    <form action="{{ action_url }}" method="POST">
        <div class="mb-1">
            <label for="descricao" class="form-label">Descrição:</label>
            <input
                type="text"
                class="form-control"
                id="descricao"
                name="descricao"
                value="{{ conta.descricao if conta else '' }}"
                required
            />
        </div>
        <div class="mb-1">
            <label for="valor" class="form-label">Valor:</label>
            <input
                type="number"
                step="0.01"
                class="form-control"
                id="valor"
                name="valor"
                value="{{ conta.valor if conta else '' }}"
                required
            />
        </div>
        <div class="mb-1">
            <label for="data_vencimento" class="form-label">Data de Vencimento:</label>
            <input
                type="date"
                class="form-control"
                id="data_vencimento"
                name="data_vencimento"
                value="{{ conta.data_vencimento if conta else '' }}"
                required
            />
        </div>
        <div class="mb-1">
            <label for="categoria" class="form-label">Categoria:</label>
            <select class="form-control" id="categoria" name="categoria">
                <option value="Moradia">Moradia</option>
                <option value="Alimentação">Alimentação</option>
                <option value="Saúde">Saúde</option>
                <option value="Educação">Educação</option>
                <option value="Despesas Pessoais">Despesas Pessoais</option>
                <option value="Transporte">Transporte</option>
                <option value="Telefonia">Telefonia</option>
                <option value="Internet">Internet</option>
                <option value="Lazer">Lazer</option>
            </select>
        </div>
        <!-- Se der tempo atualizar com sub-categorias,pag 13: https://www.gov.br/investidor/pt-br/educacional/programa-bem-estar-financeiro/programa-bem-estar-financeiro-arquivos/apostila-03.pdf-->
         
        <div class="form-check mb-3">
            <input
                type="checkbox"
                class="form-check-input"
                id="status"
                name="status"
                {% if conta and conta.status %}checked{% endif %}
            />
            <label class="form-check-label" for="status">Pago</label>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/contas_a_pagar" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
