{% extends "base.html" %}
{% block title %}Novo Cartão de Crédito - Sistema de Gestão de Contas Domésticas{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2>Cadastrar Novo Cartão de Crédito</h2>
    <form method="POST">
        <div class="form-group mb-1">
            <label for="nome_cartao">Nome do Cartão:</label>
            <input type="text" class="form-control" id="nome_cartao" name="nome_cartao" required>
        </div>
        <div class="form-group mb-1">
            <label for="limite_cartao">Limite do Cartão:</label>
            <input type="number" step="0.01" class="form-control" id="limite_cartao" name="limite_cartao" required>
        </div>
        <div class="form-group mb-1">
            <label for="data_vencimento">Data de Vencimento:</label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" required>
        </div>
        <button type="submit" class="btn btn-success mt-3">Cadastrar Cartão</button>
        <a href="{{ url_for('card.cartoes_credito') }}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}
